system/priv-app/SecSettings/SecSettings.apk filter=lfs diff=lfs merge=lfs -text
system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk filter=lfs diff=lfs merge=lfs -text
system/app/HoneyBoard/HoneyBoard.apk filter=lfs diff=lfs merge=lfs -text
